body{
    background-color: darkred;

}
h1{
    color: darkred;
}
h2 {
    font-size: 20px;
}
h1, h2 {
    text-align: center;
    font-family: sans-serif;
}
.GameScreen {
    background-color: antiquewhite;
    padding-bottom: 10px;
    padding-top: 10px;
}
img {
    height: 350px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
}
img:hover{
    opacity: 0.75;
}
.GroupButtonsChoices{
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
}
button{
    font-family: sans-serif;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: whitesmoke;
    padding: 25px 200px 25px 200px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: antiquewhite;
}
.GameButtons{
    display: flex;

}